<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../assets/main.css">
</head>
    
<body>
    <div class="page-header">
        <h1>Jmail</h1>
        <img src="../assets/emaillogo.jpg" alt="Logo" class="header-logo">
    </div>
    <h1>Register</h1>
    <p class="error-message" style="display: none;"></p>
    <form method="POST" action="/register">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" title="Enter your email" placeholder="Enter your email" required><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" title="Enter your password" placeholder="Enter your password" required><br><br>
        <button type="submit">Register</button>
    </form>
    <p>
        Already a member? <a href="/">Go to Login</a>
    </p>
    <script>
        const errorMessageElement = document.querySelector('.error');
        if (errorMessageElement.innerHTML.trim() === '') {
            errorMessageElement.style.display = 'none';
        } else {
            errorMessageElement.style.display = 'block';
        }
    </script>
</body>
</html>